@use 'variables' as *;
.cert-container {
  position: relative;
  background-color: var(--bg-primary);
  border-top: 2px solid var(--color-sec);
  border-bottom: 2px solid var(--color-sec);
  .heading {
    .text {
      @include heading;
    }
    // background-color: aquamarine;
  }

  .view {
    position: absolute;
    text-transform: capitalize;
    top: 3rem;
    right: 15%;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background: var(--bg-grade1);
    border-radius: 2px;
    transition: all 0.3s ease;
    .ani {
      display: inline-block;
      animation: eye 2s ease-in-out infinite;
      // font-size: 5rem;
      // background-color: aqua;
    }
    &:hover,
    &:active {
      letter-spacing: 1px;
      // font-weight: 300;
      color: hsl(0, 0%, 100%);
    }
  }
  @include tablet {
    .view {
      top: 2rem;
      right: 6%;
    }
  }

  @include mobile-big {
    .heading {
      .text {
        h1 {
          font-size: 3.2rem;
        }
      }
    }
    .view {
      font-size: 1.5rem;
      right: 1%;
      top: 1.6rem;
      padding: 0.8rem 1rem;
    }
  }
  @keyframes eye {
    50% {
      transform: translate(70%);
    }
    100% {
      transform: translate(0%);
    }
  }
}
