@use 'variables' as *;
.cerf {
  // border-top: 3px solid var(--color-sec);
  background-color: var(--cert-bg);
  // background-color: aqua;
  padding: 5rem 4rem;
  // margin: 1rem;
  overflow: scroll;

  ul {
    // margin: 5rem;

    display: flex;
    // background-color: bisque;
    // justify-content: space-evenly;
    column-gap: 4rem;
    li {
      // display: block;
      position: relative;
      // overflow: hidden;
      transition: all 0.3s ease-in-out;

      h2 {
        position: absolute;
        text-transform: capitalize;
        color: rgb(5, 255, 38);
        top: 65%;
        left: -29%;
        font-size: 2.5rem;
        /* transform: rotate(45deg); */
        opacity: -1;
        transition: all 1s ease-in-out;
      }

      &:hover,
      &:active {
        transform: scale(1.1);
        h2 {
          top: 61%;
          left: 57%;
          /* right: 4rem; */
          transform: rotate(360deg);
          opacity: 1;
        }
      }
    }
  }
  img {
    height: 46rem;
    width: 53rem;

    border-radius: 6px;
    &:last-child {
      margin-right: 3rem;
    }
  }
  @include tablet {
    // padding: 0;
    padding: 4rem 3rem;
    ul {
      column-gap: 2.5rem;
      li {
        h2 {
          font-size: 2rem;
        }
        img {
          height: 25rem;
          width: 34rem;
        }
      }
    }
  }
  @include mobile-big {
    padding: 3rem 2rem;
    ul {
      column-gap: 1.5rem;
      li {
        img {
          height: 23rem;
          width: 30rem;
        }
        &:hover,
        &:active {
          transform: scale(1);
          h2 {
            opacity: 0;
          }
        }
      }
    }
  }
}
