@use 'variables' as *;
.settings {
  position: fixed;
  z-index: 99;
  height: 7rem;
  width: 15rem;
  right: 0;
  top: 13%;
  padding: 0.5rem 0.5rem;
  // width: 4rem;
  background-color: rgba(7, 246, 15, 0.962);
  border-radius: 1rem 0 0 1rem;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  display: flex;
  // align-items: center;
  // justify-content: center;

  .se {
    // background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    .mode,
    .music {
      font-size: 3.5rem;
      background-color: inherit;
      // background-color: aqua;
      border: none;
      border-radius: 30%;
      padding: 0.3rem;
    }
    .mode {
      .ic {
        animation: click 1.5s ease;
      }
      .light {
        color: rgb(253, 255, 240);
      }
    }
    .music {
      transform: scale(1);
      transition: transform 0.2s ease;
      &:active {
        transform: scale(1.3);
      }
    }
    .mute {
      color: rgb(238, 67, 67);
    }
    .play {
      color: rgb(223, 9, 242);
    }
  }
  .toggle {
    background-color: inherit;
    z-index: 90;
    // background-color: rgba(7, 246, 67, 0.619);
    position: absolute;
    font-size: 3rem;
    padding: 0.6rem;
    top: 50%;
    transform: translate(-111%, -50%);

    border-radius: inherit;
    border: none;

    .ss {
      animation: spinner 2.5s linear infinite;
    }
  }

  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes click {
    100% {
      transform: rotate(360deg);
    }
  }

  @include tablet {
  }
}
.open {
  transform: translateX(0);
}
